separator_block_width=20
markup=pango
command=~/.config/i3/i3blocks_script_$BLOCK_NAME

[bluetooth]
interval=10
signal=1
label=BT
color=#026ad4

[wifi]
interval=10
label=
color=#00bfff

[volume]
interval=once
signal=10
label=
color=#6ad4bd

[zeitdatum]
interval=30
color=#d6d6d6

[logout]
interval=once
signal=1
label=
color=#cc575d
